/* Button Component Classes */
.btn-lg {
    width: 75%;
    height: 75%;
    padding: 10px 20px;
    font-size: 20px;
}

.btn-sm {
    width: 50%;
    height: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-green {
    background-color: #4CAF50;
    color: white;
}

.btn-red {
    background-color: #f44336;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}